In [1]:
# Libraries for data loading, data manipulation and data visulisation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
# Libraries for data preparation and model building
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error as MSE
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
import math
from statsmodels.graphics.correlation import plot_corr
import statsmodels.formula.api as sm
from statsmodels.formula.api import ols
from scipy.stats import pearsonr
import nltk
from nltk.tokenize import word_tokenize, TreebankWordTokenizer
import numpy as np
import pandas as pd
from nltk import SnowballStemmer
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
from nltk.corpus import stopwords
import csv
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.figure_factory as ff
import re
import string
from collections import Counter
import plotly.express as px
from nltk.corpus import stopwords
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import nltk
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re
import urllib #For webscraping
from sklearn.model_selection import train_test_split


# set plot style
sns.set()

In [2]:
df = pd.read_csv('train_set.csv') # load the data

In [3]:
df.head()

  lang_id                                               text
0     xho  umgaqo-siseko wenza amalungiselelo kumaziko ax...
1     xho  i-dha iya kuba nobulumko bokubeka umsebenzi na...
2     eng  the province of kwazulu-natal department of tr...
3     nso  o netefatša gore o ba file dilo ka moka tše le...
4     ven  khomishini ya ndinganyiso ya mbeu yo ewa maana...

In [4]:
pattern_url = r'http[s]?://(?:[A-Za-z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9A-Fa-f][0-9A-Fa-f]))+'
subs_url = r'url-web'
df['text'] = df['text'].replace(to_replace = pattern_url, value = subs_url, regex = True)

In [5]:
df['text'] = df['text'].str.lower()

In [6]:
import string
print(string.punctuation)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [7]:
def remove_punctuation(post):
    return ''.join([l for l in post if l not in string.punctuation])

In [8]:
df['text'] = df['text'].apply(remove_punctuation)
df['text'].iloc[0]

'umgaqosiseko wenza amalungiselelo kumaziko axhasa ulawulo lwesininzi kunye nokuthath inxaxheba kwabafazi ezi ziquka phakathi kwezinye zazo ikomishoni yokulingana ngokwesini ikomishoni yamalungelo oluntu lomzantsi afrika'

In [9]:
weird_chars = ['tÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ï¿½ï¿½ï¿½ï¿½ï™']
normal_chars = 'abcdefghijklmnopqrstuvwxyz123456789 \n'

In [10]:
def remove_weird_chars(post):
    return ''.join([l for l in post if l in normal_chars])

In [11]:
df['text'] = df['text'].apply(remove_weird_chars)
df['text'].iloc[0]

'umgaqosiseko wenza amalungiselelo kumaziko axhasa ulawulo lwesininzi kunye nokuthath inxaxheba kwabafazi ezi ziquka phakathi kwezinye zazo ikomishoni yokulingana ngokwesini ikomishoni yamalungelo oluntu lomzantsi afrika'

In [12]:
X = df["text"]
y = df["lang_id"]

In [13]:
X.shape

(33000,)

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [15]:
X_train

12463    ge e le gore ga go le e tee ya te ta ka godimo...
9378     namhlanjesi sinehlelo lokubusa lentando yeneng...
9477     timhaka tinwana leti vekiweke kumbe iii mhaka ...
2142     laola tshebediso le maemo a mehlodi basebedisi...
23983    akukho mntu ofanelwe sisenzo somthetho okanye ...
                               ...
16850    lesi sifunda saziwa ngokwehlukahlukana kwezinh...
6265     lw die uitvoerpermit waarna verwys word sluit ...
11284    ka ntlha ya fa bosiamisi ba kagosea bo theetsw...
860      tsweletso go tlhalosa bokao le tiriso ya mafok...
15795    ka tsela e jwalo ba lelapa la bongi le metswal...
Name: text, Length: 29700, dtype: object

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer

from sklearn import metrics
from sklearn.metrics import classification_report, confusion_matrix, f1_score, precision_score, recall_score

In [17]:
vect = TfidfVectorizer()
vect.fit_transform(X_train)

<29700x135246 sparse matrix of type '<class 'numpy.float64'>'
	with 831753 stored elements in Compressed Sparse Row format>

In [18]:
#X_vec.shape

In [19]:
from sklearn.svm import LinearSVC

In [20]:
svc = LinearSVC()

In [21]:
svc.fit(vect.transform(X_train), y_train)
y_pred = svc.predict(vect.transform(X_test))

In [22]:
print(metrics.classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         afr       1.00      1.00      1.00       281
         eng       1.00      1.00      1.00       297
         nbl       1.00      0.99      1.00       327
         nso       1.00      0.99      1.00       322
         sot       1.00      1.00      1.00       307
         ssw       0.99      1.00      0.99       286
         tsn       1.00      1.00      1.00       297
         tso       1.00      1.00      1.00       253
         ven       1.00      1.00      1.00       322
         xho       0.99      1.00      1.00       313
         zul       0.99      0.99      0.99       295

    accuracy                           1.00      3300
   macro avg       1.00      1.00      1.00      3300
weighted avg       1.00      1.00      1.00      3300

In [23]:
df_test = pd.read_csv('test_set.csv')
df_test.head()

   index                                               text
0      1  Mmasepala, fa maemo a a kgethegileng a letlele...
1      2  Uzakwaziswa ngokufaneleko nakungafuneka eminye...
2      3         Tshivhumbeo tshi fana na ngano dza vhathu.
3      4  Kube inja nelikati betingevakala kutsi titsini...
4      5                      Winste op buitelandse valuta.

In [24]:
df_test['text'] = df_test['text'].str.lower()

In [25]:
df_test['text'] = df_test['text'].replace(to_replace = pattern_url, value = subs_url, regex = True)

In [27]:
df_test['text'] = df_test['text'].apply(remove_weird_chars)
df_test['text'].iloc[0]

'mmasepala fa maemo a a kgethegileng a letlelela kgato eo'

In [28]:
df_test['text'] = df_test['text'].apply(remove_punctuation)

In [29]:
X_Kaggle = df_test['text']

In [30]:
X_Kaggle.shape

(5682,)

In [31]:
kaggle_pred = svc.predict(vect.transform(X_Kaggle))

In [32]:
kaggle_pred.shape

(5682,)

In [33]:
pred_df = pd.DataFrame(data=df_test['index'], columns=['index'])
pred_df.insert(1, 'lang_id', kaggle_pred, allow_duplicates=False)

pred_df.head()

   index lang_id
0      1     tsn
1      2     nbl
2      3     ven
3      4     ssw
4      5     afr

In [34]:
pred_df.to_csv(path_or_buf='Tladi - South African Language Identification', index=False)